JWT_SECRET=your_jwt_secret
REDIS_ADDR=your_redis_address
REDIS_PASSWORD=your_redis_password
REDIS_USERNAME=your_redis_username
QDRANT_URI=your_qdrant_uri
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_PORT=your_qdrant_port or default = 6334